* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
}

.container-gradient {
    background: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    height: 100%;
    width: 30vw;
}

.container-gradient__circles {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 25px;
}

.container-gradient__circles__circle-1 {
    height: 50px;
    width: 50px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 100%;
    margin-right: 15px;
}

.container-gradient__circles__circle-2 {
    height: 25px;
    width: 25px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 100%;
}

.container-gradient__front {
    background-image: url(images/bg-card-front.png);
    height: 245px;
    width: 447px;

    transform: translate(260px, 200px);

    color: hsl(0, 0%, 100%);
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-gradient__front__card-number {
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 25px;
}

.container-gradient__front__cardBottomInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.container-gradient__back {
    background-image: url(images/bg-card-back.png);
    height: 245px;
    width: 447px;

    transform: translate(350px, 230px);

    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;

}

.container-gradient__front__cardBottomInfo__card-holder {
    text-transform: uppercase;
}

.container-gradient__back__securityNum {
    margin-left: auto;
    margin-right: 50px;
}

/* RIGHT SIDE STYLING */

.container-white {
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-white__form {
    height: 500px;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 0;
}

.container-white__form > * {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    font-size: 16px;
    color: hsl(278, 68%, 11%);
}

input {
    margin-top: 5px;
    padding: 10px 0 10px 5px;
    border-radius: 3px;
    border: 1px solid grey;
}

input::placeholder {
    color: hsl(279, 6%, 55%);
}

.container-white__form__expDate__CVC{
    flex-direction: row;
    justify-content: space-between;
}

#month__year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#month, #year {
    width: 50px;
}

#cvc {
    width: 75px;
}

.container-white__form__CVC {
    display: flex;
    flex-direction: column;
}

.btn {
    border: none;
    padding: 20px 0;
    border-radius: 10px;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    font-weight: 900;
    font-size: inherit;
    cursor: pointer;
}

.button {
    text-align: center;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 15px 0;
    width: 100%;
    margin-top: 25px;
    cursor: pointer;
}

.completedState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 400px;
}

.completeIcon {
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}

.completedState__heading, .completedState__text {
    padding: 10px 0;
}

/*//////////////////////////////////////////////////////////////*/
/* RESPONSIVE STYLING - LAPTOP */

@media (max-width: 1600px) {
    .container-gradient__back {
        transform: translate(260px, 230px);
    }
}

@media (max-width: 1500px) {

    .container-gradient__front {
        transform: translate(160px, 200px);
    }

    .container-gradient__back {
        transform: translate(160px, 230px);
    }
}

@media (max-width: 1300px) {

    .container-gradient__front {
        transform: translate(60px, 200px);
    }

    .container-gradient__back {
        transform: translate(60px, 230px);
    }
}

/*//////////////////////////////////////////////////////////////*/
/* RESPONSIVE STYLING - SMALL LAPTOP&TABLET */

@media (max-width: 1150px) {

    body {
        flex-direction: column;
    }

    .container-gradient {
        background: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
        /* height: 30vh; */
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-white {
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-gradient__front {
        z-index: 2;
        transform: translate(-25px, 245px);
    }

    .container-gradient__back {
        transform: translate(50px, -60px);
        z-index: 1;
    }

    .container-gradient__front, .container-gradient__back{
        background-size: 100%;
        width: 357px;
        height: 195px;
        font-size: 12px;
    }

    .container-gradient__front span {
        font-size: 20px;
    }

    .container-gradient__circles {
       margin-top: 25px;
    }

    .container-gradient__circles__circle-1 {
        height: 40px;
        width: 40px;
    }

    .container-gradient__circles__circle-2 {
        height: 20px;
        width: 20px;
    }

    .container-gradient__front__card-number {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .container-gradient__front__cardBottomInfo {
        align-items: center;
    }

    .container-gradient__front__cardBottomInfo__card-expiration span{
        font-size: 13px;
    }

    .btn {
        margin-top: 20px;
    }
}

.hidden {
    display: none;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: red;
}