* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
}

.container-gradient {
    background: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
    height: 100%;
    width: 30vw;
}

.container-gradient__front {
    background-image: url(images/bg-card-front.png);
    height: 245px;
    width: 447px;

    transform: translate(260px, 200px);

    color: hsl(0, 0%, 100%);
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-gradient__front__card-number {
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 90px;
    margin-bottom: 25px;
}

.container-gradient__front__cardBottomInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.container-gradient__back {
    background-image: url(images/bg-card-back.png);
    height: 245px;
    width: 447px;

    transform: translate(350px, 230px);

    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    
}

.container-gradient__front__cardBottomInfo__card-holder {
    text-transform: uppercase;
}

.container-gradient__back__securityNum {
    margin-left: auto;
    margin-right: 50px;
}

/* RIGHT SIDE STYLING */

.container-white {
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-white__form {
    height: 500px;
    width: 400px;
    background-color: green;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 0; 
}

.container-white__form > * {
    display: flex;
    flex-direction: column;
}

.container-white__form__expDate__CVC {
    flex-direction: row;
}

.hidden {
    display: none;
}